{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('styles/admin/library/detail.css')}}">
{% endblock %}
{% block RightPage %}
	<h1>Modification de la bibliothèque
		{{ library.name }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
        <p><a href="{{ path('library_index')}}" class="btn btn-secondary">Retour</a></p>
{% endblock %}