{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('styles/admin/theme/index.css')}}">
{% endblock %}
{% block RightPage %}
<a href="{{ path('editor_index') }}" class="btn btn-secondary">Retour</a>
    <h1>Détails de l'éditeur {{ editor.name }}</h1>

    <a href="{{ path('editor_edit', {'id': editor.id}) }}" class="btn btn-primary">Modifier</a>
    <div class="editor-book-container">
    <p>Liste des livres de l'éditeur :</p>
    <ul class="editor-book-list">
    {% for book in editor.books %}
        <li class="editor-book-item">{{ book.title }}</li>
    {% endfor %}
    </ul>
    </div>

    {{ include('admin/editor/_delete_form.html.twig') }}
{% endblock %}
